.redBar {
  height: 20px;
  background-image: linear-gradient($color-primary, $color-primary-dark);
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.btn {
  font-size: 1.6rem;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
  padding: 1.5rem 2.5rem;
  display: inline-block;
  cursor: pointer;
  transition: all .2s;

  &--primary {

    &,
    &:link,
    &:visited {
      // color: coral;
      background-image: linear-gradient($color-primary, $color-primary-dark);
      border: none;
    }

    &:hover,
    &:active {
      transform: translateY(-3px);
      box-shadow: 0 .2rem .3rem rgba(#000, .3);
    }
  }

  &__secondary {

    &:link,
    &:visited {
      border: 3px solid #fff;
      // border-radius: 10px;
      // padding: 1.5rem 2.5rem;
      // text-transform: uppercase;
      // color: #fff;
      // font-size: 1.5rem;
      // text-decoration: none;
    }

  }
}

.content {
  padding: 4rem 0;
}

.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem 2rem;

  &>* {
    grid-column: 2 / -4;
  }
}

.quote-right {
  grid-column: 10 / -1;
  border-left: 3px solid $color-primary;
  color: $color-primary;
  align-self: start;
  font-size: 3rem;
  padding-left: 1rem;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}