.nav {
  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__link {

    &:link,
    &:visited {
      display: inline-block;
      color: $color-primary;
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: 400;
      text-transform: uppercase;
      border-bottom: 3px solid transparent;
      transition: all .2s;
    }

    &:hover,
    &:active {
      transform: translateY(-3px);
      border-bottom: 3px solid $color-primary;
    }
  }
}